.cart{
    margin-top: 55px;
    background-color: orange;
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart p{
    font-size: 17px;
}

.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background: #ff3030;
    border-radius: 4px;
    color: white;
}

.btn-clear-cart .delete-icon{
    color: white;
}